NET "io_sel3[0]" LOC = P114;
NET "io_sel3[0]" IOSTANDARD = LVTTL;
NET "io_sel3[1]" LOC = P111;
NET "io_sel3[1]" IOSTANDARD = LVTTL;
NET "io_sel3[2]" LOC = P104;
NET "io_sel3[2]" IOSTANDARD = LVTTL;
NET "io_sel3[3]" LOC = P101;
NET "io_sel3[3]" IOSTANDARD = LVTTL;

NET "io_sel3[4]" LOC = P87;
NET "io_sel3[4]" IOSTANDARD = LVTTL;
NET "io_sel3[5]" LOC = P84;
NET "io_sel3[5]" IOSTANDARD = LVTTL;
NET "io_sel3[6]" LOC = P82;
NET "io_sel3[6]" IOSTANDARD = LVTTL;
NET "io_sel3[7]" LOC = P80;
NET "io_sel3[7]" IOSTANDARD = LVTTL;

NET "io_sel3[8]" LOC = P121;
NET "io_sel3[8]" IOSTANDARD = LVTTL;
NET "io_sel3[9]" LOC = P119;
NET "io_sel3[9]" IOSTANDARD = LVTTL;
NET "io_sel3[10]" LOC = P117;
NET "io_sel3[10]" IOSTANDARD = LVTTL;
NET "io_sel3[11]" LOC = P115;
NET "io_sel3[11]" IOSTANDARD = LVTTL;

NET "io_sel3[12]" LOC = P79;
NET "io_sel3[12]" IOSTANDARD = LVTTL;
NET "io_sel3[13]" LOC = P75;
NET "io_sel3[13]" IOSTANDARD = LVTTL;
NET "io_sel3[14]" LOC = P67;
NET "io_sel3[14]" IOSTANDARD = LVTTL;
NET "io_sel3[15]" LOC = P58;
NET "io_sel3[15]" IOSTANDARD = LVTTL;

NET "io_sel3[16]" LOC = P100;
NET "io_sel3[16]" IOSTANDARD = LVTTL;
NET "io_sel3[17]" LOC = P98;
NET "io_sel3[17]" IOSTANDARD = LVTTL;
NET "io_sel3[18]" LOC = P95;
NET "io_sel3[18]" IOSTANDARD = LVTTL;
NET "io_sel3[19]" LOC = P93;
NET "io_sel3[19]" IOSTANDARD = LVTTL;

NET "io_sel3[20]" LOC = P88;
NET "io_sel3[20]" IOSTANDARD = LVTTL;
NET "io_sel3[21]" LOC = P85;
NET "io_sel3[21]" IOSTANDARD = LVTTL;
NET "io_sel3[22]" LOC = P83;
NET "io_sel3[22]" IOSTANDARD = LVTTL;
NET "io_sel3[23]" LOC = P81;
NET "io_sel3[23]" IOSTANDARD = LVTTL;
NET "abuttonup" LOC = P2;
NET "abuttonup" IOSTANDARD = LVTTL;

NET "abuttondown" LOC = P6;
NET "abuttondown" IOSTANDARD = LVTTL;

NET "abuttonleft" LOC = P8;
NET "abuttonleft" IOSTANDARD = LVTTL;

NET "abuttonright" LOC = P10;
NET "abuttonright" IOSTANDARD = LVTTL;

NET "bbuttonup" LOC = P1;
NET "bbuttonup" IOSTANDARD = LVTTL;

NET "bbuttondown" LOC = P5;
NET "bbuttondown" IOSTANDARD = LVTTL;

NET "bbuttonleft" LOC = P7;
NET "bbuttonleft" IOSTANDARD = LVTTL;

NET "buttontest" LOC = P143;
NET "buttontest" IOSTANDARD = LVTTL;

NET "buttonreset" LOC = P141;
NET "buttonreset" IOSTANDARD = LVTTL;
NET "abuttonstart" LOC = P124;
NET "abuttonstart" IOSTANDARD = LVTTL;
NET "buttonchange" LOC = P137;
NET "buttonchange" IOSTANDARD = LVTTL;





NET "io_sel1[0]" LOC = P30;
NET "io_sel1[0]" IOSTANDARD = LVTTL;

NET "io_sel1[1]" LOC = P27;
NET "io_sel1[1]" IOSTANDARD = LVTTL;
NET "io_sel1[2]" LOC = P24;
NET "io_sel1[2]" IOSTANDARD = LVTTL;
NET "io_sel1[3]" LOC = P22;
NET "io_sel1[3]" IOSTANDARD = LVTTL;
NET "io_sel2[0]" LOC = P29;
NET "io_sel2[0]" IOSTANDARD = LVTTL;
NET "io_sel2[1]" LOC = P26;
NET "io_sel2[1]" IOSTANDARD = LVTTL;
NET "io_sel2[2]" LOC = P23;
NET "io_sel2[2]" IOSTANDARD = LVTTL;
NET "io_sel2[3]" LOC = P21;
NET "io_sel2[3]" IOSTANDARD = LVTTL;

